asgiref                           
backports.entry-points-selectable 
certifi                           
distlib                           
dj-database-url                   
Django                            
django-heroku                     
filelock                          
gunicorn                          
Pillow                            
pip                               
pipenv                            
platformdirs                      
psycopg2                          
pytz                              
setuptools                        
six                               
sqlparse                         
virtualenv                        
virtualenv-clone                  
whitenoise     