{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ board }}</title>
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/stylesBoards.css' %}" />
  <link
      rel="shortcut icon"
      href="{% static 'main/images/icon.ico' %}"
      type="image/x-icon"
    />
</head>
<body>
  <header>
    <div class="navbar p-3">
      <a href="{% url 'home' %}">
        <img
          src="{% static 'main/images/logo.png' %}"
          alt="logo"
          class="d-block float-left logo"
        />
      </a>
      {% if request.user.is_authenticated %}
      <div class="btn-group float-right mr-3">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle dropbtn"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user.username }}
        </button>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{% url 'main' %}">Доски</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
          </li>
        </ul>
        {% else %}
        <div class="justify-content-end">
          <a class="log mx-2" href="{% url 'login' %}">Войти</a>
          <a class="btn btn-primary  reg" href="{% url 'register' %}">Регистрация</a>
        </div>
        
        {% endif %}
      </div>
    </div>
  </header>

  <div class="app">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 float-left">
          {% if request.user.is_authenticated %} 
          <form id="addBrd" class="add__board mt-4" method="post">
            {% csrf_token %}
            {% for f in formColumn %}
              {{f}}
            {% endfor %}
            <button type="submit" class="mx-3 btn btn-success add-btn button">Добавить колонку</button>
          </form>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="boards">
      {% for c in columns %}
        {% if c.board == board %}
        <div class="boards__item" id='{{c.pk}}-column'>
          <form class="titleDiv">
            {% csrf_token %}
            <input disabled class="title" value={{c.name}}>
            <button type="submit" class="btn-close deleteBoard"></button>
          </form>

          <form class="add__card">
            {% csrf_token %}
            {% for f in formCard %}
              {{f}}
            {% endfor %}

            <button type="submit" class="btn btn-primary add__btn">
              <span> + </span>
            </button>
          </form>

          <div class="list">
            {% for cd in cards %}
              {% if cd.column == c %}
                <div class="list__item" draggable="true" id='{{cd.pk}}-card'>
                  <p class="desc none"></p>
                  <div class="cardTitle" data-bs-toggle="modal" data-bs-target="#menuContainer">{{ cd.name }}</div>
                  <button class="btn-close deleteCard"></button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    
    <div class="modal fade align-items-center" id="menuContainer" tabindex="-1" aria-labelledby="menuContainer" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content ms-5 ms-md-0">
          <div class="modal-header">
            <h5 class="modal-title" id="menuContainerLabel">Редактирование карточки</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data"enctype="multipart/form-data" class="popUpForm">
              <input class="menuTitle" type="text" required name="name">
              <textarea name="content" placeholder="Эта карточка..." class="popUpArea"></textarea>
              <input type="date" name="deadline" class="popUpDate">
              <div class="photoDiv">
                <input type="file" name="photo" class="popUpFile">
                <img class="photoPopUp">
              </div>
              <div class="popUpBtns">
                <button type="submit" class="btn btn-success btn-save mr-3" >Сохранить</button>
                <button type="cancel" class="btn btn-danger btn-cancel" data-bs-dismiss="modal">Отменить</button>
              </div>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="menuContainer hidden">
      <div class="menu">
        <form enctype="multipart/form-data"enctype="multipart/form-data" class="popUpForm">
          <input class="menuTitle" type="text" required name="name">
          <textarea name="content" placeholder="Эта карточка..." class="popUpArea"></textarea>
          <input type="date" name="deadline" class="popUpDate">
          <div class="photoDiv">
            <input type="file" name="photo" class="popUpFile">
            <img class="photoPopUp">
          </div>
          <div class="popUpBtns">
            <button type="submit" class="btn-save">Сохранить</button>
            <button type="cancel" class="btn-cancel">Отменить</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div> -->
  </div>
  <script>
    window.csrf_token = '{% csrf_token %}';
  </script>
  <script type="application/javascript" src={% static "main/js/board.js" %}></script>
  <script type="application/javascript" src={% static 'main/js/bootstrap.bundle.min.js' %}></script>
  </body>
</html>
