{% extends 'main/base.html'%}

{% block content %}

<main>
  <section>
    <div class="container">
      <div class="container-title">
        <h1>Ваши доски:</h1>
          <a class="button" href="{% url 'new_board' %}">Создать доску</a>
        
      </div>
      <div class="container-wrap">

        <div class="wrap-outer">
          <a href="#">
            <div class="wrap-inner">
              <h2>Title of board</h2>
            </div>
          </a>
        </div>
        <div class="wrap-outer">
          <a href="#">
            <div class="wrap-inner">
              <h2>Title of board</h2>
            </div>
          </a>
        </div>
        <div class="wrap-outer">
          <a href="#">
            <div class="wrap-inner">
              <h2>Title of board</h2>
            </div>
          </a>
        </div>
        <div class="wrap-outer">
          <a href="#">
            <div class="wrap-inner">
              <h2>Title of board</h2>
            </div>
          </a>
        </div>
        <div class="wrap-outer">
          <a href="#">
            <div class="wrap-inner">
              <h2>Title of board</h2>
            </div>
          </a>
        </div>
    </div>
  </section>
</main>

{% endblock %}