{% extends 'main/base.html'%}

{% load static %}

{% block content %}

<main>
  <section>
    <div class="container">
      <div class="container-title">
        <h1>Ваши доски:</h1>
          <a class="button" href="{% url 'new_board' %}">Создать доску</a>
        
      </div>
      <div class="container-wrap">

        {% for b in boards %}

        {% if b.user == request.user %}
        <div class="wrap-outer">
          <a href="{{ b.get_absolute_url }}">
            <div class="wrap-inner">
              <h2>{{b.name}}</h2>
            </div>
          </a>
        </div>
        {% endif %}

        {% endfor %}
        
        
    </div>
  </section>
</main>

<script type="text/javascript" src={% static "main/js/main.js" %}></script>


{% endblock %}