@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

html {
  overflow: auto;
}

input::-webkit-input-placeholder {
  color: black;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

body {
  background-color: #ece9ff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.logo {
  width: 10em;
  margin: 1em;
}

.dropbtn {
  color: black;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid #a7bdff;
  border-radius: 5px;
  background: none;
  transition: 0.3s;
}

.mmv-btn {
  background-color: #0065ff;
  border-radius: 50px;
  font-weight: 500;
  max-width: 250px;
  width: 40vw;
}
.add-btn {
  font-weight: 700;
  background: #5aac44;
  border: none;
  width: 170px;
  color: white;
  font-size: 14px;
}

.add__board-input {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  min-height: 35px;
  margin-right: 10px;
}

.add__board {
  display: flex;
  margin-left: 1em;
  margin-bottom: 1em;
}

.boards {
  display: flex;
  width: 100%;
}

.boards__item {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  max-width: 280px;
  background-color: rgb(189, 206, 255);
  margin: 0 15px;
  padding: 10px;
  transition: 0.3s all ease;
  border-radius: 3px;
}

/* .deleteBoard {
  width: 1.4rem;

  visibility: hidden;
  height: max-content;
  color: black;
  background: none;
  border: none;
  padding: 0.2em;
  position: absolute;
  top: 5%;
  right: 0;
  margin-right: 5px;
  background: white;
  border-radius: 5px;
  transition: 0.3s;
} */

.deleteBoard {
  position: absolute;
  visibility: hidden;
  top: 5%;
  right: 0;
  border-radius: 5px;
  transition: 0.3;
}

.titleDiv {
  position: relative;
  transition: 0.3s;
}

.titleDiv:hover .deleteBoard {
  visibility: visible;
  transition: 0.3s;
}

.titleDiv .deleteBoard:hover {
  background-color: rgba(116, 116, 116, 0.384);
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.title {
  background: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: 500;
  margin-bottom: 0.5em;
  position: relative;
}

.title:focus {
  outline: 1px solid rgba(92, 87, 87, 0.45);
}

.add__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin-top: 0.2em;
  min-height: 20px;
}

.list__item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 0.5em 0;
  cursor: pointer;
  font-size: 14px;
  outline: auto;
  border: none;
  font-weight: 500;
  outline: none;
  position: relative;
  transition: 0.3s;
}

.list__item:hover {
  transition: 0.3s;
  background: rgb(139, 177, 247);
}

.deleteCard {
  visibility: hidden;
  padding: 0.3em;
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 5px;
  transition: 0.3s;
}

.list__item:hover .deleteCard {
  visibility: visible;
  transition: 0.3s;
}

.deleteCard:hover {
  background-color: rgba(248, 245, 245, 0.952);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.none {
  display: none;
}
.add__btn {
  background-color: #88a3f1;
  border: none;
}

/* Модальное окно */

.menuTitle {
  font-weight: bold;
  font-size: 1.5em;

  background: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.popUpArea:focus,
.menuTitle:focus,
.popUpDate:focus {
  background-color: white;
  outline: 1px solid rgba(92, 87, 87, 0.45);
  color: black;
}

.popUpArea {
  margin-bottom: 1em;
  line-height: 1.5em;

  resize: none;
  color: rgb(87, 85, 85);
  width: 100%;
  height: 5em;
  padding: 0.5em;
  font-size: 1.1em;
  outline: none;
  border-radius: 5px;
  border: none;

  background: none;
}

.photoPopUp {
  max-width: 300px;
  max-height: 300px;
  display: block;
  border-radius: 5px;
}

.photoDiv {
  margin-bottom: 1em;
}

.popUpBtns {
  display: flex;
  justify-self: start;
  align-items: center;
  margin-bottom: 0.5em;
}

.popUpDate,
.popUpFile {
  margin-bottom: 1em;
  border-radius: 5px;
}

.popUpDate {
  height: 30px;
  border: 1px solid rgba(92, 87, 87, 0.45);
  padding-left: 7px;
  display: block;
}

.btn-save {
  background-color: #5aac44;
  margin-right: 0.5em;
  transition: 0.3s;
  border: none;
}

.btn-cancel {
  transition: 0.3s;
  background-color: #ca2c2c;
}

.btn-cancel:hover {
  transition: 0.3s;
  background-color: #8d1b1b;
}

.btn-save:hover {
  background-color: #42a826;
  transition: 0.3s;
}

.modal {
  margin: auto;
}

.modal-dialog {
  margin: 20vh auto;
  width: 700px;
}

.modal-content {
  background-color: rgb(235, 235, 235);
  width: 80vw;
  max-width: 500px;
}
