@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

::-webkit-input-placeholder {
  font-size: 20px;
}
::-moz-placeholder {
  font-size: 20px;
}
:-ms-input-placeholder {
  font-size: 20px;
}
:-moz-placeholder {
  font-size: 20px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

body {
  background-color: #ece9ff;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 10em;
  margin: 1em;
}

.dropbtn {
  color: black;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid #a7bdff;
  border-radius: 5px;
  background: none;
  transition: 0.3s;
}

.mmv-btn {
  background-color: #0065ff;
  border-radius: 50px;
  font-weight: 500;
  max-width: 250px;
  width: 40vw;
}

.mmv-col {
  display: flex;
  justify-content: center;
}
.mmv-card {
  width: 100%;
  max-width: 90vw;
}

.reg {
  background-color: #5aac44;
  font-weight: 700;
  border: none;
}

.reg:hover {
  background-color: rgb(75, 201, 75);
  transition: 0.3s background-color;
}

.log {
  text-decoration: none;
}

.log:hover {
  color: #6798e2;
  text-decoration: underline;
}

.mmv-h2 {
  font-weight: 700;
}
.mmv-input {
  width: 80vw;
  max-width: 500px;
  height: 80px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 5px lightgrey;
  font-size: 20px;
}

.p-inp {
  display: flex;
  justify-content: center;
}

.btn-del {
  background-color: #ca2c2c;
}
