@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
  background-color: #ece9ff;
  font-family: 'Montserrat', sans-serif;
}

section,
header {
  padding-bottom: 5em;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

p {
  font-size: 1.2em;
}

.logo {
  width: 10em;
  margin: 1em;
}

.dropbtn {
  color: black;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid #a7bdff;
  border-radius: 5px;
  background: none;
  transition: 0.3s;
}

.mmv-img {
  max-height: 70vh;
}

.mmv-btn {
  background-color: #0065ff;
  border-radius: 50px;
  font-weight: 500;
  width: 40vw;
}

.reg:hover {
  background-color: #ece9ff;
  color: #0065ff;
}

.log {
  text-decoration: none;
}

.log:hover {
  color: #6798e2;
  text-decoration: underline;
}

.dropdown-menu {
  width: 50px;
}
