@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

input::-webkit-input-placeholder { color: black; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 2em;
}

body {
  background-color: #ece9ff;
}

main {
  margin: 0px 10vw;
}


.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

.log {
  text-decoration: none;
  font-weight: 700;
}

.log {
  color: #0065ff;
  margin-right: 1em;

}

.log:hover {
  color: #6798e2;
  text-decoration: underline;
}

.logo {
  width: 10em;
  margin: 1em;
}

.container {
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
}

.container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  text-align: center;
}

.button {
  background-color: #0065ff;
  padding: 1em;
  color: #ece9ff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
  width: 20vw;
  max-width: 170px;
  text-align: center;
  font-size: 15px;
}

.button:hover {
  background-color: #2461bd;
}

.form-errors {
  margin: 0.5em;
  margin-left: 2.5em;
}

.input-form {
  width: 80vw; 
  max-width: 500px;
  height: 80px;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 5px lightgrey;
  padding-left: 14px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 20px;
}

.reg {
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;

  color: #f9fafc;
  background-color: #5aac44;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 80vw; 
  max-width: 500px;
  height: 60px;
  padding: 0.5em 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.reg:hover {
  background-color: rgb(75, 201, 75);
  transition: 0.3s background-color;
  
}

.container-item {
  display: flex;
  justify-content: center;
}

.center {
  justify-content: center;
}

.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

a.name:hover {
  text-decoration: underline;
  color: #6798e2;
}

/* Тут пошли стили для boards */

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88.5vh;
  padding-bottom: 50px;
}

.boards {
  display: flex;
  width: 100%;
}

.boards__item {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  max-width: 250px;
  width: 100%;
  background-color: rgb(189,206,255);
  margin: 0 15px;
  padding: 10px;
  transition: .3s all ease;
  border-radius: 3px;
}

.title {
  background: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.title:focus {
  outline: 1px solid rgba(92, 87, 87, 0.45);
}


.list__item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 0.5em 0;
  cursor: pointer;
  font-size: 14px;
  outline: auto;
  border: none;
  font-weight: 500;
  outline: none;
}

.form {
  border-radius: 3px;
  margin-top: auto;
  display: none;
}

.textarea {
  resize: none;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: white;
  padding: 10px;
  width: 100%;
}

.textarea:focus {
  outline: none;
}

.buttons {
  display: flex;
}

.add__item-btn {
  background: rgb(13, 136, 218);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.cancel__item-btn {
  padding: 0 10px;
  background: rgb(160, 17, 12);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-left: auto;
  flex-shrink: 0;
}

.add__btn {
  height: 30px;
  background: rgba(155, 155, 155, 0.3);
  border-radius: 3px;
  display: flex;
  font-style: 12px;
  align-items: center;
  padding-left: 10px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  margin-left: 0.2em;
}

.add__btn span  {
  font-size: 20px;
  margin-right: 10px;
  color: black;
}

.button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5aac44;
  border: none;
  cursor: pointer;
  width: 150px;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 15px;
}

.add__board {
  display: flex;
  margin-left: 1em;
  margin-bottom: 1em;
}

.add__board-input {
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  min-height: 35px;
}

.add__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Вариант с классами ------------------------------------------------*/

#addTodoListDiv{
  margin-left: 2em;
  margin-top: 4em;
}

#addTodoListDiv button{
  margin-left: 0.5em;
}


#root{
  margin: 1em;
  /*border: 1px solid grey;*/
  /*display: flex;*/
  min-width: 1200px;
}


.todoList{
  /*border: 1px solid red;*/
  border-radius: 4px;
  min-height: 100px;
  background: rgba(0,101,255, 0.5);
  padding: 0.7em;
  margin: 1em 0 1em 1em;

  float: left;
}

.todoList h2{
  font-size: 1em;
  margin-bottom: 0.5em;
}

#to-do-list-button{
  margin-left: 0.5em;
}

.card{
  /*border: 1px solid blue;*/
  border-radius: 4px;
  border-bottom: rgb(180, 180, 180) 1px solid;
  background: white;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 0.9em;
  position: relative;

  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.card button{
  visibility: hidden;
  height: max-content;

  background: none;
  border: none;
  padding: 0.3em;
  
}


.card:hover button{
  visibility: visible;
}

.card button:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 4px;
  cursor: pointer;
}


.menuContainer{
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu{
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;

  margin: auto;

  padding: 1em;
  border-radius: 4px;
  
}

.menuTitle{
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.menuDescription{
  margin-bottom: 2em;
  line-height: 1.5em;
}

.menuDescription textarea{
  width: 100%;
  height: 5em;
  padding: 0.5em;
  font-size: 1.1em;
}



.comment{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
}

.commentsInput{
  margin-right: 0.5em;
}

.btn-save{
  background-color: #5aac44;
  color: white;
  border: none;
  border-radius: 4px;

  padding: 0.5em;
  margin-top: 0.5em;
  
}