@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

::-webkit-input-placeholder {font-size: 20px;}
::-moz-placeholder {font-size: 20px;}
:-ms-input-placeholder {font-size: 20px;}
:-moz-placeholder {font-size: 20px;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 2em;
}

body {
  background-color: #ece9ff;
}

main {
  margin: 0px 10vw;
}


.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

.log {
  text-decoration: none;
  font-weight: 700;
}

.log {
  color: #0065ff;
  margin-right: 1em;

}

.log:hover {
  color: #6798e2;
  text-decoration: underline;
}

.logo {
  width: 10em;
  margin: 1em;
}

.container {
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
}

.container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  text-align: center;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

.wrap-outer {
  width: 30vw;
  max-width: 13rem;
  height: 10rem;
  border-radius: 10px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.wrap-inner {
  display: flex;
  width: 30vw;
  max-width: 13rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0065ff;
  border-radius: 10px;
  padding: 1em;
}

.wrap-inner:hover {
  background-color: #6798e2;
  transition: 0.2s background-color;
}

.wrap-inner h2 {
  font-size: 1.5em;
  color: #ece9ff;
}

.container-wrap a {
  text-decoration: none;
}

.button {
  background-color: #0065ff;
  padding: 1em;
  color: #ece9ff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
  width: 20vw;
  max-width: 170px;
  text-align: center;
  font-size: 15px;
}

.button:hover {
  background-color: #2461bd;
}

.form-errors {
  margin: 0.5em;
  margin-left: 2.5em;
}

.input-form {
  width: 80vw; 
  max-width: 500px;
  height: 80px;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 5px lightgrey;
  padding-left: 14px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 20px;
}

.reg {
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;

  color: #f9fafc;
  background-color: #5aac44;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 80vw; 
  max-width: 500px;
  height: 60px;
  padding: 0.5em 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.reg:hover {
  background-color: rgb(75, 201, 75);
  transition: 0.3s background-color;
  
}

.container-item {
  display: flex;
  justify-content: center;
}

.center {
  justify-content: center;
}

.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

a.name:hover {
  text-decoration: underline;
  color: #6798e2;
}
