@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 1.55em;
}

body {
  background-color: #f9fafc;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 13em;
}

.arch {
  color: #5083cf;
  text-decoration: none;
}

.arch:hover {
  text-decoration: underline;
}

.mmv-cont {
  width: 90vw;
  max-width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px lightgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg {
  background-color: #5aac44;
  font-weight: 700;
  width: 80vw;
  max-width: 340px;
}

.reg:hover {
  background-color: rgb(75, 201, 75);
  transition: 0.3s background-color;
}
