@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

body {
  background-color: #ece9ff;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: 0px 10vw;
}

.log,
.reg {
  text-decoration: none;
  font-weight: 700;
}

.log {
  color: #0065ff;
}

.reg {
  color: #ece9ff;
  background-color: #0065ff;
  padding: 8px;
  border-radius: 5px;
}

.header-item a:first-child {
  margin-right: 1em;
}

.logo {
  width: 10em;
  margin: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.container-item {
  flex: 0 1 auto;
}

.side-img {
  width: 30vw;
  max-width: 450px;
  min-width: 200px;
}

.text {
  padding: 5vw 0;
}

.text p {
  margin-top: 1em;
}

.column {
  flex-direction: column;
  text-align: center;
}

.full-width {
  width: 80vw;
}

.button {
  background-color: #0065ff;
  padding: 1em;
  color: #ece9ff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
  width: 30vw;
  text-align: center;
}

.button:hover {
  background-color: #2461bd;
}

.card {
  margin-right: 3em;
}

.last {
  margin: 50px;
}

.last .button {
  background-color: #ece9ff;
  color: #0065ff;
  border: 2px solid #0065ff;
  width: 30vw;
}

.last .button:hover {
  background-color: #0065ff;
  color: #ece9ff;
  transition: 0.3s background-color;
}
