@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 2em;
}

body {
  background-color: #ece9ff;
}

main {
  margin: 0px 10vw;
}


.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

.log {
  text-decoration: none;
  font-weight: 700;
}

.log {
  color: #0065ff;
  margin-right: 1em;

}

.log:hover {
  color: #6798e2;
  text-decoration: underline;
}

.logo {
  width: 10em;
  margin: 1em;
}

.container {
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
}

.container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  text-align: center;
}

.button {
  background-color: #0065ff;
  padding: 1em;
  color: #ece9ff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
  width: 20vw;
  max-width: 170px;
  text-align: center;
  font-size: 15px;
}

.button:hover {
  background-color: #2461bd;
}

.form-errors {
  margin: 0.5em;
  margin-left: 2.5em;
}

.input-form {
  width: 80vw; 
  max-width: 500px;
  height: 80px;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 2px 5px lightgrey;
  padding-left: 14px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 20px;
}

.reg {
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;

  color: #f9fafc;
  background-color: #5aac44;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 80vw; 
  max-width: 500px;
  height: 60px;
  padding: 0.5em 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.reg:hover {
  background-color: rgb(75, 201, 75);
  transition: 0.3s background-color;
  
}

.container-item {
  display: flex;
  justify-content: center;
}

.center {
  justify-content: center;
}

.name {
  text-decoration: none;
  margin-right: 0;
  color: grey;
  font-weight: 500;
}

a.name:hover {
  text-decoration: underline;
  color: #6798e2;
}

/* Тут пошли стили для boards */

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 88.5vh;
  padding: 50px 0;
}

.boards {
  display: flex;
  width: 100%;
}

.boards__item {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  max-width: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 15px;
  padding: 10px;
  transition: .3s all ease;
  border-radius: 3px;
}

.title {
  padding: 5px;
  color: white;
  font-weight: 500;
}

.title:focus {
  outline: 1px solid rgba(168, 168 , 168, .45);
}

.list {
  min-height: 40px;
}

.list__item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 4px 0;
  cursor: pointer;
  font-size: 14px;
  outline: auto;
  border: none;
  font-weight: 500;
}

.form {
  border-radius: 3px;
  margin-top: auto;
  display: none;
}

.textarea {
  resize: none;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: white;
  padding: 10px;
  width: 100%;
}

.textarea:focus {
  outline: none;
}

.buttons {
  display: flex;
}

.add__item-btn {
  background: rgb(13, 136, 218);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.cancel__item-btn {
  padding: 0 10px;
  background: rgb(160, 17, 12);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-left: auto;
  flex-shrink: 0;
}

.add__btn {
  height: 30px;
  background: rgba(155, 155, 155, 0.3);
  border-radius: 3px;
  margin-top: 5px;
  display: flex;
  font-style: 12px;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.add__btn span  {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}

.button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(19, 130, 204, .62);
  border: none;
  cursor: pointer;
  width: 150px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  border-radius: 3px;
  font-size: 14px;
}
